fastapi
uvicorn
streamlit
requests

langchain
langchain-community

sentence-transformers
transformers
torch

chromadb
rank-bm25

pypdf

networkx

python-dotenv

openai

tavily-python

numpy
scikit-learn